/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');




/* VARIABLES */
:root {
    --c-dark: #4A4947;
    --c-brand: #B17457;
    --c-brand-light: #4A4947;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "Poppins", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}


/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
    height: auto;
}

.navbar a:hover {
    color: var(--c-brand);
}


.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}


/* BTN */
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: white;
    border-color: var(--c-brand);
    color: var(--c-brand);
}


/* HERO */
#hero {
    background: url(../images/hero-1.jpg);
    background-position: center;
    background-size: cover;
}


/* SECTION TITLE */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


/* ICONBOX */
.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

/* SERVICE */
.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}


.service:hover::after {
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .iconbox {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

/* COUNTER */
#counter {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../images/counter.jpg);
    background-position: center;
    background-size: cover;
}

/* PORTFOLIO */
.portfolio-item .iconbox {
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portfolio-item:hover .iconbox {
    opacity: 1;
    top: 50%;
}

/* REVIEW */
.review small {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-brand);
}

.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
}

/* TEAM */
.team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}

/* CONTACT */
#contact {
    position: relative;
    z-index: 2;
}

#contact::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(178, 116, 87, 0.8), rgba(139, 92, 66, 0.8)), url('../images/contact.jpg');

    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand);
}

/* FOOTER */
footer {
    padding-top: 20px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}


footer li,
footer p,
footer a {
    color: rgba(255,255,255,0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.card-text {
    font-size: 0.95rem;
    color:aliceblue;
}

.navbar-brand {
    width: 120px;
    height: auto;
}

.footer-logo {
    height: 150px;
    width: auto;
}


.room-card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
}

.room-card {
    position: relative;
    width: 500px; /* Adjusted width *//* Adjusted width */
    height: 400px; /* Adjusted height */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.room-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.room-card:hover {
    transform: scale(1.02); /* Small scaling effect on hover */
}

/* Bottom overlay only appearing on hover */
.room-card-overlay {
    position: absolute;
    bottom: 15px; /* Positioned slightly above the bottom for styling */
    left: 15px;
    right: 15px;
    background-color: rgba(250, 247, 240, 0.9); /* Semi-transparent for a subtle effect */
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(20px); /* Start hidden below the card */
    transition: opacity 0.8s ease, transform 0.5s ease;
    
    
}



.room-card:hover .room-card-overlay {
    opacity: 1;
    transform: translateY(0); /* Slide up into view */
}

.room-card-overlay h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.room-card-overlay p {
    margin: 5px 0 0;
    font-size: 0.9rem;
    padding-bottom: 5px;
}


.container-hebergement { 
    padding: 100px 0;
    background-color: #f8f8f8;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;

}

.accommodation-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--c-brand);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


.container-map {
    padding: 100px 0;
    background-color: #f8f8f8;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    height: auto;
    width: auto;
}

.contact-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #FAF7F0;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.contact-description {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #FFF;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.embed-responsive-item{
    width: 100%;
    height: 400px;
}

.text-emplacement {
    margin-bottom: 40px;
    color: #B17457;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


/* Container Styling */
.container-booking {
    max-width: 100%;
    padding: 1rem;
    background-color: transparent; /* Transparent background */
}

/* Form Styling */
.booking-form {
    background-color: rgba(250, 250, 250, 0.9); /* Adjusted background with a softer brown/orange */
    border: 1px solid rgba(250, 250, 250, 0.5); /* Slightly darker border to match */
    border-radius: 12px;
    padding: 0.7rem 1.5rem;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Soft shadow for depth */
    font-size: 1rem; /* Adjust font size for readability */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover */
}



/* Input Container for Consistent Padding */
.input-container {
    position: relative;
}

/* Input Styling */
.booking-input {
    width: 200px;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: box-shadow 0.3s ease;
    text-align: center;
}

.booking-input:focus {
    box-shadow: 0 0 5px #b1745700;
    outline: none;
    text-align: center;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .booking-input {
        width: 100%;
    }

    .booking-form {
        flex-direction: column;
    }
}

.form-label {
    color: #3d3d3de3;
    font-size: 1rem; /* Adjust font size */
    display: block; /* Ensures label is displayed above input fields */
    margin: auto;
}

@media (max-width: 992px) {
    .booking-input {
        width: 100%;
    }

    .booking-form {
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    .booking-input {
        width: 100%;
    }

    .booking-form {
        flex-direction: column;
    }
}

@media (max-width: 1400px) {
    .booking-input {
        width: 100%;
    }

    .booking-form {
        flex-direction: column;
    }
}